{% extends "layout.html" %}
{% block content %}
  <div class="container">
  	<center>
	    <a href="http://kuak.me">
	    	<img src="{{ url_for('static', filename='img/kuaklogo.png') }}"  width="200" height="150" />
	    </a>
	    <h2>¿Quiénes somos?</h2>
	</center>

    <div class="span2"></div>
    <div class="span8">
	    <p align="justify">Kuak se integra en 2008 con un grupo inicial de 8 estudiantes de la Universidad de San Carlos de Guatemala, hoy en día sus integrantes son Ingenieros egresados de la misma universidad y estudiantes de maestrías tecnológicas y de administración en diferentes Universidades del país. <br/><br/>

		El equipo se complementa con especialista en el área de administración financiera, diseño gráfico, marketing y 	publicidad web.<br/><br/>
		
		Don’t keep moving with Kuak.<br/><br/>
		
		Kuak es un grupo de innovación tecnológica, integrada por consultores especializados en el áreas de la 	informática, actualmente se desarrollan plataformas Web de alto impacto.</p>
	</div>
  </div>
{% endblock %}