{% extends "layout.html" %}
{% block content %}
  <div class="row-fluid">
                <div class="span4">
                    <!--Sidebar content-->
                    <img src="{{ url_for('static', filename='img/kuaklogo.png') }}"  width="200" height="150" />
                    <h2>Grow With Me</h2>
                    <p>Crowfounding para ayuda humanitaria.</p>
                    <p><a class="btn" href="#">Seguir leyendo »</a></p>
                </div>

                <div class="span8">
                    <ul class="thumbnails">
                        <div class="row-fluid">
                            {%for proyecto in proyectos%}
                                <li class="span4">  
                                    <div class="thumbnail">                          
                                        <h2>{{proyecto.nombre_proyecto}}</h2>
                                        <p>{{proyecto.descripcion}}</p>
                                        <p><a class="btn" href="{{proyecto.nombre_proyecto}}">Seguir leyendo »</a></p>
                                        <p>{{proyecto.fecha_inicio}}</p>
                                    </div>
                                </li>
                            {%endfor%}
                        </div>
                    </ul>
                </div>
            </div>
{% endblock %}