{% extends "layout.html" %}
{% block content %}
<div class="row-fluid">
    <div class="span4">
        <!--Sidebar content-->
        <img src="{{ url_for('static', filename='img/kuaklogo.png') }}"  width="200" height="150" />
        <h2>Grow With Me</h2>
        <p>Crowfounding para ayuda humanitaria.</p>
        <p><a class="btn" href="#">Seguir leyendo »</a></p>
    </div>


    <div class="span8">
        <ul class="thumbnails">
            {%set count = 0%}
            {%for proyecto in proyectos%}
            {%if count == 0%}
            <div class="row-fluid">
                {%endif%}
                <li class="span4">  
                    <div class="thumbnail">                          
                        <h2>{{proyecto.nombre_proyecto}}</h2>
                        <img src="{{ url_for('fotos', filename=proyecto.url_imagen) }}"></img>
                        <p>{{proyecto.descripcion}}</p>
                        <h3>{{proyecto.meta}}</h3>
                        <p><a class="btn" href="project/{{proyecto.id}}">Seguir leyendo »</a></p>
                        <p>{{proyecto.fecha_inicio}}</p>
                        <h2>Quedan {{proyecto.days}} días</h2>
                    </div>
                </li>
                {%set count = count + 1%}
                {%if count == 3%}
                {%set count = 0%}
            </div>
            {%endif%}
            {%endfor%}
        </ul>
    </div>
</div>
{% endblock %}