<!DO
CTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>GroWithMe</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    
	<style>
		
		.navbar .brand { max-height: 40px; overflow: visible;padding-top: 2;padding-bottom: 0; }
			
    </style>

    <script>
    $(document).ready(function () {
        $('label.tree-toggler').click(function () {
            $(this).parent().children('ul.tree').toggle(300);
        });
    });
</script>
  </head>
  <body>
   
 <!-- Part 1: Wrap all page content here -->
       <div class="navbar  navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
        </button>
		<a class="brand" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/gwm.png') }}"  width="42%" height="42%"></a>
          <div class="nav-collapse">
              <ul class="nav">
                 <li class="active"><a href="{{ url_for('home') }}">Inicio</a></li>
                  <li><a href="{{ url_for('projects') }}">Proyectos</a></li>
                  <li><a href="{{ url_for('about') }}">¿Quiénes somos?</a></li>
                  <li><a href="{{ url_for('contact') }}">Contacto</a></li>
				
				  <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Ingresar<strong class="caret"></strong></a>
                    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                      <form method="post" action="login" accept-charset="UTF-8">
                        <input style="margin-bottom: 15px;" type="text" placeholder="Nombre de usuario" id="usuario" name="usuario">
                        <input style="margin-bottom: 15px;" type="password" placeholder="Contraseña" id="password" name="password">
                        <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
                        <label class="string optional" for="user_remember_me">Recordar mis datos</label>
                        <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Ingresa">
                        <label style="text-align:center;margin-top:5px">o iniciar sesión con </label>
                        <input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Google">
                        <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Twitter">
                        <input class="btn btn-primary btn-block" type="button" id="sign-in-facebook" value="Facebook">
                      </form>
                    </div>
                  </li>
                  
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </body>
</html>