{% extends "layout.html" %}
{% block content %}
<div class="row-fluid">
	<div class="span4">
	<div class="sidebar-nav">
        <div class="well" style="width:300px; padding: 8px 0;">
            <ul class="nav nav-list"> 
                <li class="nav-header">Administración</li>        
                <li><a href="index"><i class="icon-home"></i> Dashboard</a></li>
                <li><a href="#"><i class="icon-envelope"></i> Mensajes <span class="badge badge-info">4</span></a></li>
                <li><a href="#"><i class="icon-comment"></i> Comentarios <span class="badge badge-info">10</span></a></li>
                <li class="active"><label class="nav-header"><i class="icon-list-alt"></i> Proyectos</label>
                	<ul class="nav nav-list">
                		<li><a href="{{url_for('new_project')}}"> Nuevo Proyecto</a></li>
                		<li class="active"><a href="{{url_for('my_projects')}}"> Mis Proyectos</a></li>
                	</ul>
                </li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-wrench"></i> Preferencias</a></li>
                <li><a href="#"><i class="icon-share"></i> Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
</div>
    <div class="span8">
	<form class="form-horizontal" action="{{url_for('upd_project')}}" method="POST" enctype="multipart/form-data">
		<fieldset>

			<!-- Form Name -->
			<legend>Modificar Proyecto</legend>

			<input type="hidden" name="id" value="{{proyecto.id}}">

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label">Nombre:</label>
				<div class="controls">
					<input id="nombre_proyecto" name="nombre_proyecto" type="text" placeholder="Mi proyecto" class="input-xlarge" required="" value="{{proyecto.nombre_proyecto}}">
					<p class="help-block">Nombre del proyecto</p>
				</div>
			</div>

			<!-- File Button --> 
			<div class="control-group">
				<label class="control-label">Imagen:</label>
				<div class="controls">
					<input id="foto" name="foto" class="input-file" type="file">
				</div>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label">Meta:</label>
				<div class="controls">
					<input id="meta" name="meta" type="text" placeholder="Mi meta" class="input-xlarge" required="" value="{{proyecto.meta}}">
					<p class="help-block">Meta de recaudación de fondos</p>
				</div>
			</div>

			<!-- Textarea -->
			<div class="control-group">
				<label class="control-label">Descripción:</label>
				<div class="controls">                     
					<textarea id="descripcion" name="descripcion">{{proyecto.descripcion}}</textarea>
				</div>
			</div>

			<!-- Button (Double) -->
			<div class="control-group">
				<label class="control-label"></label>
				<div class="controls">
					<a href="{{url_for('my_projects')}}" class="btn btn-warning">Cancelar</a>
					<button id="boton_aceptar" name="boton_aceptar" class="btn btn-success">Guardar</button>
				</div>
			</div>

		</fieldset>
	</form>
</div>
</div>
{% endblock %}