{% extends "layout.html" %}
{% block content %}
<div class="row-fluid">
    <div class="span12">
        <ul class="thumbnails">
            {%set count = 0%}
            {%for proyecto in proyectos%}
            {%if count == 0%}
            <div class="row-fluid">
                {%endif%}
                <li class="span4">  
                    <div class="thumbnail">                          
                        <h2>{{proyecto.nombre_proyecto}}</h2>
                        <img src="{{ url_for('fotos', filename=proyecto.url_imagen) }}"></img>
                        <p>{{proyecto.descripcion}}</p>
                        <p>Propuesto el: {{proyecto.fecha_inicio.strftime('%d/%m/%Y')}}</p>
                        <h3>0.00 / {{proyecto.meta|format_currency}}</h3>
                        <p><a class="btn" href="project/{{proyecto.id}}">Seguir leyendo »</a></p>
                        <h2>Quedan {{proyecto.days}} días</h2>
                    </div>
                </li>
                {%set count = count + 1%}
                {%if count == 3%}
                {%set count = 0%}
            </div>
            {%endif%}
            {%endfor%}
        </ul>
    </div>
</div>
{% endblock %}