{% extends "layout.html" %}
{% block content %}
<div class="jumbo">
	<form class="form-horizontal" method='POST'>
		<fieldset>

			<!-- Form Name -->
			<legend>Registro</legend>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label">Nombre de usuario:</label>
				<div class="controls">
					<input id="nickname" name="nickname" type="text" placeholder="Nombre de usuario" class="input-xlarge" required="">
					<p class="help-block">Nombre que aparecerá en su perfil</p>
				</div>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label">Nombre:</label>
				<div class="controls">
					<input id="first_name" name="first_name" type="text" placeholder="Ingrese su nombre" class="input-xlarge" required="">
				</div>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label">Apellido:</label>
				<div class="controls">
					<input id="last_name" name="last_name" type="text" placeholder="Ingrese su apellido" class="input-xlarge" required="">
				</div>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label">Correo electrónico:</label>
				<div class="controls">
					<input id="email" name="email" type="text" placeholder="kuak@me.com" class="input-xlarge" required="">
				</div>
			</div>

			<!-- Password input-->
			<div class="control-group">
				<label class="control-label">Contraseña:</label>
				<div class="controls">
					<input id="password" name="password" type="password" placeholder="********" class="input-xlarge" required="">
					<p class="help-block">Utilice al menos 6 caracteres</p>
				</div>
			</div>

			<!-- Button (Double) -->
			<div class="control-group">
				<label class="control-label"></label>
				<div class="controls">
					<button id="boton_cancelar" name="boton_cancelar" class="btn btn-warning">Cancelar</button>
					<button id="boton_aceptar" name="boton_aceptar" class="btn btn-success">Aceptar</button>
				</div>
			</div>

		</fieldset>
	</form>

</div>
{% endblock %}